
body{
    margin: 0;
    padding: 0;
    background: url(9.jpg)no-repeat;
    background-size: cover;
}
.box{
    width: 500px;
    background: rgba(0, 0, 0, 0.4);
    padding: 30px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    color: #fff;
    font-family: "century gothic, sans-serif";
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}